* {
  margin: 0;
  padding: 0;
}

.container {
  border: solid 3px blue;
  width: 900px;
  height: 250px;
  position: relative;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  background-image: url(ClaruswayLogo1.png);
  width: 230px;
  height: 52px;
  background-color: red;
  margin: 100px 15px;
  float: left;
}

h2 {
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 520px;
    margin-top: 55px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  /* width: 70% ; */
  height: 15%;
  position: absolute;
  text-align: justify;
  padding-top: 90px;
  margin-left: 280px;
  margin-right: 10px;
}
